.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
}

.game-board{
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 7px;
    margin: 20px;
}

.cell {
    width: 100px;
    height: 100px;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border: 2px solid #000000;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.cell:hover {
  background-color: #f0f0f0;
}

.cell[data-index] {
  padding: 0;
}

.cell[data-index="4"] {
  background-color: #fffbcc;
  border-color: #ff9900;
}

.cell[data-index="0"],
.cell[data-index="2"],
.cell[data-index="6"],
.cell[data-index="8"] {
  border-width: 3px;
}

.cell .x, .o {
  display: none;
}

.score {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#status{
  margin-bottom: 20px;
  font-weight: bold;
}

#dlg {
  border-radius: 5px;
}

.dialog-container{
  width: 400px;
  padding: 0px;
  margin: 0px;
}

#dialog-msg-container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-ok {
  width: 100%;
  display: flex;
  justify-content: end;
}

#ok-button {
  padding-left: 12px;
  padding-right: 12px;
}

#note {
  color: rgb(193, 23, 23);
}

#reset-button {
  padding: 10px;
  border: 2px solid gray;
  cursor: pointer;
  border-radius: 4px;
}
